<div class="container-fluid jumbotron  ">
  <div class="container">
    <div class="row row-eq-height align-items-center   ">
      <!-- Grid column -->
      <div class="align-self-stretch col-sm-3  ">
        
          <!-- Featured image-->
          <img height=95% src="assets/resume/face.jpg" class="mx-auto d-block rounded  " alt="{{name}}">
        
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-sm-9  ">
        <h2 class="lead text-center text-md-left">Hello, my name is</h2>
        <h1 class="display-3 text-center text-md-left font-weight-bold">{{name}}</h1>
        <p class="lead">
          I'm an aspiring full-stack developer with experience in both frontend and backend
          development.
          Constantly learning and looking for new opportunities. Check out my projects and resume to see how I can
          help.
          <a href="mailto:{{email}}" class="btn text-white btn-dark">Contact me</a>
        </p>


      </div>
      <!-- Grid column -->
    </div>
  </div>
</div>

<app-githubprojectlist></app-githubprojectlist>
<br>
<app-resume></app-resume>