<div class="container-fluid jumbotron border border-danger">
    <div class="container">
      <div class="row equal align-items-center border border-danger">
        <!-- Grid column -->
        <div class="col-sm-3 border border-success">
          <!-- Featured image -->        
            <img height="250" src="assets/resume/face.jpg" class="rounded" alt="{{name}}">          
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-sm-9 border border-success">
          <h2 class="lead">Hello, my name is</h2>
          <h1 class="display-3">{{name}}</h1>
          <p class="lead">
            I'm an aspiring full-stack developer with experience in both frontend and backend
            development.
            Constantly learning and looking for new opportunities. Check out my projects and resume here to see how I can
            help.
            <a href="mailto:{{email}}"class="btn text-white btn-dark">Contact me</a>
          </p>
          
  
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </div>

<app-githubprojectlist></app-githubprojectlist>
<app-resume></app-resume>