<!-- Footer -->
<footer class="page-footer bg-dark text-white border">

    <!-- Grid row-->
    <div class="container d-flex justify-content-center">
      <div class="p-1">
        <!--Linkedin -->
        <a class="circle" href={{linkedinUrl}}>
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
      </div>
      <div class="p-1">
        <!--GitHub-->
        <a class="circle" href={{githubUrl}}>
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
      <div class="p-1">
        <!--Email -->
        <a class="circle" href="mailto:{{email}}">
          <mat-icon svgIcon="email"></mat-icon>
        </a>
      </div>
    </div>
    <!-- Grid row-->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© {{currentYear}} Copyright {{name}}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->