<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Elements -->
  <div class="container border">

    <!-- Grid row-->
    <div class="row justify-content-center">
      <div class="col-sm-1">
        <!--Linkedin -->
        <a href={{linkedinUrl}}>
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
      </div>
      <div class="col-sm-1">
        <!--GitHub-->
        <a href={{githubUrl}}>
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </div>
      <div class="col-sm-1">
        <!--Email -->
        <a href={{linkedinLink}}>
          <mat-icon svgIcon="email"></mat-icon>
        </a>
      </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{currentYear}} Copyright: {{name}}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->