<article class="resume-timeline-item position-relative pb-5">
    <div class="resume-timeline-item-header mb-2">
        <div class="d-flex flex-column flex-md-row">
            <h3 class="resume-position-title font-weight-bold mb-1">{{organization}}</h3>
            <div class="resume-company-name ml-auto"><a href="{{website}}">{{website}}</a></div>
        </div>
        <!--//row-->
        <div class="resume-position-time">{{startDate | date:'y'}}</div>
    </div>
    <!--//resume-timeline-item-header-->
    <div *ngIf="summary" class="resume-timeline-item-desc">
        <p>{{summary}}</p>
        <div *ngIf="highlights.length > 0">
            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Highlights:
            </h4>
            <ul>
                <li *ngFor="let highlight of highlights">{{highlight}}</li>
            </ul>
        </div>
        <div *ngIf="technologies.length > 0">
            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies
                used:</h4>
            <ul class="list-inline">
                <li *ngFor="let tech of technologies" class="list-inline-item"><span
                        class="badge badge-primary badge-pill">{{tech}}</span></li>
            </ul>
        </div>
    </div>
    <!--//resume-timeline-item-desc-->
</article>
<!--//resume-timeline-item-->